.bg-image{
    background-image: url("https://i.ibb.co/FqqLndF/4ce841e4-46be-4fe5-84ed-071ee82b62dd.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}